<div id="<%= dom_id article %>" style="background-color: lightgray; padding: 10px; margin-bottom: 2em; ">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Feature image:</strong>
    <%= image_tag article.feature_image, width: 200 %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= article.tags %>
  </p>

  <p><%= link_to "Show this article", article %></p>

</div>
