<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= search_form_for @q do |f| %>
  <%= f.label "Search" %>
  <%= f.search_field :title_or_content_or_tags_cont %>

  <%= f.submit %>

  <%= link_to root_path do  %>
    <%= button_to "Clear" %>
  <% end %>
<% end %>

<% if params[:q] %>
  <p><%= @articles.count %> articles trouvés</p>
<% end %>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
